Built-In Python functions are always availble on command.
As of Python 3.6, there are total of 68 built-in functions.

12 Built-in Functions 
max()
min()
sum()
round()
abs()
print()
pow()
sorted()
eval()
format()
any()
all()

In [31]:
import random as rd

rd.seed(10) # Set the seed for the random number generator to ensure reproducibility

numbers = rd.sample(range(1, 11), k = 10)  # Generate a list of 10 unique random numbers from 1 to 10

numbers

[10, 1, 7, 4, 5, 9, 2, 8, 3, 6]

In [32]:
max(numbers) # Find the maximum value in the list of numbers

10

In [33]:
min(numbers)  # Find the minimum value in the list of numbers

1

In [34]:
sum(numbers) # Calculate the sum of all numbers in the list

55

In [35]:
round(23.267, 1)  # Round the number 23.267 to 1 decimal place

23.3

In [36]:
abs(-230) # Calculate the absolute value of -230

230

In [37]:
pow(5, 2) # Calculate 5 raised to the power of 2

25

In [38]:
numbers

[10, 1, 7, 4, 5, 9, 2, 8, 3, 6]

In [39]:
align_numbers = sorted(numbers) # Sort the list of numbers in ascending order
align_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
[pow( new, 4) for new in align_numbers] # Create a list of numbers, each raised to the power of 4

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [41]:
[result <= 2 for result in align_numbers] # Create a list of boolean values indicating if each number is less than or equal to 2

[True, True, False, False, False, False, False, False, False, False]

In [42]:
align_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
any([result <= 2 for result in align_numbers]) # Check if any of the numbers in the list are less than or equal to 2

True

In [44]:
sum([result > 2 for result in align_numbers]) #displays the number of all true in this condition

8

In [45]:
code = ['200', 100, 12.5, -30, -50]  # Define a list of mixed types of numbers as strings, integers, and floats

code # Print the original list

['200', 100, 12.5, -30, -50]

In [46]:
# Calculate the sum of the values in the list
# - Convert the first element from string to integer using eval
# - Add the second element directly since it's an integer
# - Convert the third element to integer (from float to int)
# - Use abs() to get the absolute value of the fourth and fifth elements
sum_code = eval(code[0]) + code[1] + int(code[2]) + abs(code[3]) + abs(code[4])
sum_code

392

In [47]:
code

['200', 100, 12.5, -30, -50]

In [48]:
clean_dta = ([int(number_) for number_ in code]) # Clean the data by converting all elements in the list to integers
clean_dta # Print the cleaned data

[200, 100, 12, -30, -50]

In [49]:
# Sort the list in ascending order of absolute values
# - Use abs() to convert all values to their absolute values
# - Then sort the list
# - Slice the sorted list from the 3rd element onwards
# - Reverse the slice to get the largest values first
clean_dta = sorted([abs(look) for look in[int(number_) for number_ in code]])[2:][3::-1]
clean_dta # Print the cleaned and sorted data

[200, 100, 50]

In [52]:
# Format a string to display the top 3 values
# - Use the format method to insert the top 3 values from clean_dta into the string
# - The first value in clean_dta will be the largest value
"Top 3 values are {0}, {1}, and {2}. Largest is {0}".format(*clean_dta)

'Top 3 values are 200, 100, and 50. Largest is 200'