In [1]:
num = [10, 20, 30]
num

[10, 20, 30]

In [2]:
num[0] = "Hello"
["hello", 20, 30]

['hello', 20, 30]

In [2]:
# ranges from 0 to 10
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# ranges from 5 to 10
list(range(5, 11))

[5, 6, 7, 8, 9, 10]

In [4]:
# ranges from 0 to 22 with a 4 step size
list(range(0, 22, 4))

[0, 4, 8, 12, 16, 20]

In [5]:
#ranges from -40 to 50 with a 10 step size
list(range(-40, 50, 10))

[-40, -30, -20, -10, 0, 10, 20, 30, 40]

In [10]:
best = [[1, 2, 3, 4], [5, 6, 7, 8]]

[1, 2, 3, 4]

In [11]:
#if displaying specific list 
best [0]

[1, 2, 3, 4]

In [12]:
#can multiply the list
best [1] * 4

[5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8]

In [16]:
#creating new list and combining it into best list
best = [[1, 2, 3, 4], [5, 6, 7, 8]]
new = [list(range(6)), list(range(6, 11))]
best + new

[[1, 2, 3, 4], [5, 6, 7, 8], [0, 1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

In [23]:
#using append function on the list
beast = [ 5, 10, 15, 20]

[5, 10, 15, 20, 100]

In [24]:
type(beast)
beast.append(100)
beast

[5, 10, 15, 20, 100, 100]

In [29]:
#removing all the numbers inside the list using clear function
beast.clear()
beast
type(beast)
type([])

list

In [48]:
beast

5

In [53]:
#using reverse or sort function
boat = [ 4, 6, 12 ,16, 20]
boat
boat.reverse()
boat.sort()
boat

[4, 6, 12, 16, 20]

In [55]:
boat.append(100)
boat

[4, 6, 12, 16, 20, 100, 100]

In [58]:
boat.clear()
boat
type(boat)

list

In [59]:
boat.append([4, 8, 12, 16, 20, 100])

In [61]:
boat = boat[0]

In [62]:
boat

[4, 8, 12, 16, 20, 100]

In [67]:
boat.insert(5, 24)
boat

[4, 8, 12, 16, 24, 24, 24, 24, 24, 20, 100]

In [69]:
#removing the lst value in the list
boat.pop()
boat

[4, 8, 12, 16, 24, 24, 24, 24, 24]

In [73]:
#using strings in example replacing the last item [2]"BOS" into "LAL"
big3 = ["MIA", "GSW", "BOS"]
big3
big3[2] = "LAL"
big3

['MIA', 'GSW', 'LAL']

In [75]:
big3.append(boat)
big3

['MIA',
 'GSW',
 'LAL',
 [4, 8, 12, 16, 24, 24, 24, 24, 24],
 [4, 8, 12, 16, 24, 24, 24, 24, 24]]

In [79]:
big3[3]

[4, 8, 12, 16, 24, 24, 24, 24, 24]

In [81]:
#inserting value inside the boat list after appending it to the big3 variable
big3[3].insert(3, "Wow")
big3

['MIA',
 'GSW',
 'LAL',
 [4, 8, 12, 'Wow', 'Wow', 16, 24, 24, 24, 24, 24],
 [4, 8, 12, 'Wow', 'Wow', 16, 24, 24, 24, 24, 24]]

In [84]:
#displaying the actual string inside the boat list itself
big3[3][3][0]

'W'

In [85]:
type(big3[3][3][0])

str