In [19]:
team1 = ["Harold", "Hernandez","Zayn", "Malik"]
print(team1)

type(team1)

['Harold', 'Hernandez', 'Zayn', 'Malik']

list

In [20]:
list2 = 60, 70, 80, 90, 100
list2

type(list2)

tuple

In [21]:
list1 = [10, 20, 30, 40]
print(list1)

#converting the list into tupple
tup2 = tuple(list1)
tup2
type(tup2)

[10, 20, 30, 40]

tuple

In [22]:
#Combining twoo tupples tup2 and list 2

tup3 = tup2 + list2
tup3

(10, 20, 30, 40, 60, 70, 80, 90, 100)

In [23]:
tup4 = tuple(team1)
tup4
type(tup4)

tuple

In [24]:
_int = "2","4","6","8"
_int

_int = str(_int) #convert tuple into string
type(_int)

_int = tuple(_int) #convert string into tuple
type(_int)

tuple

In [33]:
tup5 = "Horse", "Mouse", "Monkey", 100, 200, 300, False
tup5.count(False)
tup3
tup3.index(40)

3

In [36]:
tup3[3]

40

In [38]:
sum(tup3)#the sum will be the total values inside tup3

sum(tup3 * 2)#the sum will be multiply to 2

1000

In [40]:
max(tup3)#get the maximum value inside tup3

min(tup3)#get the minimum value inside tup3

10

In [42]:
sorted(tup3) #sorted the tup3

tuple(sorted(tup3)) # make sorted tup3 back to tuple

(10, 20, 30, 40, 60, 70, 80, 90, 100)