In [3]:
BINI1 = "Mikha"; BINI2 = "Maloi"; BINI3 = "Aiah"
print(BINI1,BINI2,BINI3, sep="||")
print()

Mikha||Maloi||Aiah

In [5]:
Day = "GOOD DAY"
Night = "good night"

len(Day)

10

In [7]:
len(Night)

'good day'

In [8]:
Day.lower()

'good day'

In [9]:
Night.upper()

'GOOD NIGHT'

In [10]:
type(Day)

str

In [13]:
name = "Harold Hernandez"
"Hello everyone my name is " + name + " it is nice to meet you"

'Hello everyone my name is Harold Hernandez it is nice to meet you'

In [20]:
num = 23    
player = "Michael Jordan"

Goat = "The greatest of all time is "

print(Goat + player + " and his number is " + str(num))

The greatest of all time is Michael Jordan and his number is 23

In [30]:
eval("50") + eval("200")

250

In [31]:
type(eval("20"))

int

In [34]:
eval("10 ** 10")

10000000000

In [36]:
check = " AA BB D CC AMERICA"
check.count("A")

4

In [59]:
OD = """ //We --are One --Direction It Is Nice// To Meet-- You@@
@@"""
OD.replace("//","").replace("--","").replace("@@","").replace("\n"," ").lower()
#cleaning up the sentence by removing special characters

' we are one direction it is nice to meet you '

In [65]:
pet = "Dog"
pet[0]

'D'