In [1]:
for curry in range(5):
    print("Steph Curry for three!")

Steph Curry for three!
Steph Curry for three!
Steph Curry for three!
Steph Curry for three!
Steph Curry for three!

In [2]:
language = ["Python", "C", "JavaScript", "C#"]
for lng in language:
    print(lng in range(1))

False
False
False
False

In [3]:
for lng in language:
    print(lng)

Python
C
JavaScript
C#

In [4]:
for incriment  in range(10): 
    print(incriment, incriment + 2)#incriments starts from two then additionally increase by 1 in range

0 2
1 3
2 4
3 5
4 6
5 7
6 8
7 9
8 10
9 11

In [5]:
wade =[{3:"Miami"},{6:"Cavaliers"},{8:"Chicago"}]#list of dictionaries

for flash in range(3):
    print(wade[flash])

{3: 'Miami'}
{6: 'Cavaliers'}
{8: 'Chicago'}

In [6]:
wade = [[1,2,3],[4,5,6], ["flash", "dwayne", "wade"]] #list of list
for w in range(3):
    print(wade[w])

[1, 2, 3]
[4, 5, 6]
['flash', 'dwayne', 'wade']

In [7]:
for w in range(3):
    DW = wade[0][w] + wade[1][w] #adds the intigers in range 0 and 1

    print(wade[2][w].capitalize() + ":Odds of +- in three teams: ", DW)#use capitalize function to capitalize the string inside the list of [2] then add it to the DW

Flash:Odds of +- in three teams:  5
Dwayne:Odds of +- in three teams:  7
Wade:Odds of +- in three teams:  9

In [8]:
# Initialize an empty list to store the resulting strings.
nicknames = []

# Loop through the range of 3, which corresponds to the number of elements in each sublist.
for items in range(3):
    # Access the string in the third sublist at the current index, capitalize it,
    # and concatenate it with a message and the sum of the corresponding elements
    # from the first two sublists.
    gear = wade[2][items].capitalize() + " :These are the names that Dwyane Wade has: " + str(wade[0][items] + wade[1][items]) 
    # Append the resulting string to the nicknames list.
    nicknames.append(gear)

# Output the final list of nicknames.
nicknames

['Flash :These are the names that Dwyane Wade has: 5',
 'Dwayne :These are the names that Dwyane Wade has: 7',
 'Wade :These are the names that Dwyane Wade has: 9']

In [9]:
#Multiplication in for LOOP

for x in range(1, 9):
    print("{} * {} = {}".format(x, x,(x * x)))

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64

In [10]:
#Addition in for LOOP

for best in range (1 ,11):
    print("{} + {} = {}".format(best, best,(best + best)))

1 + 1 = 2
2 + 2 = 4
3 + 3 = 6
4 + 4 = 8
5 + 5 = 10
6 + 6 = 12
7 + 7 = 14
8 + 8 = 16
9 + 9 = 18
10 + 10 = 20

In [11]:
#cCan also use %D or %f if the expected output is float

for best in range (1 ,11):
    print("%d + %d = %d" % (best, best,(best + best)))

1 + 1 = 2
2 + 2 = 4
3 + 3 = 6
4 + 4 = 8
5 + 5 = 10
6 + 6 = 12
7 + 7 = 14
8 + 8 = 16
9 + 9 = 18
10 + 10 = 20

In [14]:
tupple1 = ((20, 30, 40), ("boy", "girl", "boyish"), (50, 60, 70))
#tupple unpacking 
for tup, ple, one in tupple1:
    print(tup, ple, one)

20 30 40
boy girl boyish
50 60 70

In [3]:
tupple1 = ((20, 30), ("boy", "girl"), (50, 60))
#tupple unpacking 
for tup, ple in tupple1:
    print(tup, ple)

20 30
boy girl
50 60

In [5]:
tupple1 = ((20, 30, 40), ("boy", "girl", "boyish"), (50, 60, 70))

for tup in tupple1: # With one variable declared, it will result in printing each nested tuple
    print(tup)

(20, 30, 40)
('boy', 'girl', 'boyish')
(50, 60, 70)

In [10]:
tupple1 = ((20, 30, 40), ("boy", "girl", "boyish"), (50, 60, 70))

#This is called nested for LOOP
for i in range(2): #it will given the output two times because of the range
    for tup in tupple1: # With one variable declared, it will result in printing each nested tuple
        print(tup)

(20, 30, 40)
('boy', 'girl', 'boyish')
(50, 60, 70)
(20, 30, 40)
('boy', 'girl', 'boyish')
(50, 60, 70)

In [12]:
#Using dictionaries' list

color = ["blue", "red", "green"]

mixed = {"num1": tuple(color), "num2":[1, 2, 3, 4, 5]} #converting the color into tuple

mixed

{'num1': ('blue', 'red', 'green'), 'num2': [1, 2, 3, 4, 5]}

In [17]:
#for LOOP using dictionaries

for specified in mixed["num1"]:
    print(specified)

blue
red
green

In [24]:
heat = ["Butler", "Adebayo", "Herro"]  # list
celtics = ("Tatum", "Brown", "Porzingis")  # tuple

# Using nested loops to print combinations
for i in range(len(heat)):  # Loop through the indices of heat
    print("heat:", heat[i])  # Print heat players
    
for j in range(len(celtics)):  # Loop through the indices of celtics
    print("celtics:", celtics[j])  # Print celtics players
    
for num in range(len(all["numbers"][:3])):  # Loop through the first 3 elements of numbers
    print("numbers:", all["numbers"][num])  # Print numbers
#using nested for LOOP
for real in mixed:
    for length in range(3):
        print(real, ":", mixed[real][length])

num1 : blue
num1 : red
num1 : green
num2 : 1
num2 : 2
num2 : 3

In [42]:
heat = ["Butler", "Adebayo", "Herro"]  # list
celtics = ("Tatum", "Brown", "Porzingis")  # tuple

# Using nested loops to print combinations
for i in range(len(heat)):  # Loop through the indices of heat
    print("heat:", heat[i])  # Print heat players
    
for j in range(len(celtics)):  # Loop through the indices of celtics
    print("celtics:", celtics[j])  # Print celtics players
    
for num in range(len(all["numbers"][:3])):  # Loop through the first 3 elements of numbers
    print("numbers:", all["numbers"][num])  # Print numbers

heat: Butler
heat: Adebayo
heat: Herro
celtics: Tatum
celtics: Brown
celtics: Porzingis
numbers: 21
numbers: 7
numbers: 11

In [46]:
celtics
rating = ["Very Good", "Good", "Moderate"]

for grade in range(3):
    print(celtics[grade].capitalize(), "\n OVL \n", rating[grade].upper())

Tatum
 OVL
 VERY GOOD
Brown
 OVL
 GOOD
Porzingis
 OVL
 MODERATE